.screen-shoot {
  display: block;
  margin-bottom: 20px;
  border: 1px solid black;
}

.marginBottom {
  margin-bottom: 7rem;
}

.marginTop {
  margin-top: 3rem;
}

.project-paragraph {
  font-size: 1.2rem;
}