#header {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
#header h1 {
  font-size: 3rem;
  font-weight: bold;
}

#header p {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0;
}

.right-header {
  margin-top: 1rem;
}

#header img {
  display: block;
  width: 70%;
  margin: 1rem auto;
}


