
* {
  box-sizing: border-box;
}

.dark-mode {
  background-image: url('https://fsb.zobj.net/crop.php?r=-P6OqVJVtAEn3HWiU44dCF8VtpVjSmB5btM0cUHqUgbi2xFGN3YQ8q3XpEUlOG0hF6rSZas8eX_zBoKWmF3IaPifbkt6ToV-mPQB0-EwU4wUa31Iu5gWsZjCHzaoC73kj1mmSdn2oKc1q0nIrFZCkWHE_fyIsJaPkcw0jDptCxL1Kxt0me-T_Jx8Ts0');
  color: #fff;
}

.dark-mode .card {
  color: black;
}

.light-mode {
  background-image: url('https://i.pinimg.com/originals/ab/ab/60/abab60f06ab52fa7846593e6ae0c9a0b.png');
}


.moon, .sun {
  position: absolute;
}

.sun {
  right: 110%;
  position: absolute;
  top: -10px;
}

.moon {
 top: -12px;
  position: absolute;
  left: 45%;
}

.dark-theme-form {
  width: 7%;
  position: relative;
  font-size: 1.5rem;
  left: 90vw;
  top: 2vh;
}

.custom-control {
  position: absolute;
  display: inline;
  left: 1.5%;
}


@media (max-width: 524px) {
  .moon {
    left: 131%;
  }
  .sun {
    right: 120%;
  }

  .dark-theme-form {
    left: 80vw;
    top: 2vh;
  }

}
